:root {
    --background-color: #f6f6f6;
    --font-header-color: #003366;
    --font-color: #222;
    --font-lighter-color: #b2b9be;
    --link-hover-color: #3267aa;
}
:root.dark {
    --background-color: #222;
    --font-header-color: #f6f6f6;
    --font-color: #f6f6f6;
    --font-lighter-color: #ccc;
    --link-hover-color: #3267aa;
}

body {
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--font-color);
    font-size: 16px;
    line-height: 24px;
    border-top: 7px solid #aaa;
    margin: 0;
    background-color: var(--background-color);
}

a {
    color: var(--font-header-color);
    text-decoration: none;
}

#content {
    border-top: 1px solid #ddd;
    padding-top: 15px
}

#content h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 2.5em;
    margin-bottom: 0.7rem;
}
#content .post-info ul {
    padding-left: 0.5rem
}
#content .post-info li {
    list-style-type: none;
    font: normal 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: var(--font-color);
    margin-bottom: 0;
}
#content .entry-content {
    padding-left: 1rem
}
#content .entry-content table {
    font: normal 1.5rem "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#content .article-cover-img {
    width: 100px;
}

#post-list {
}
.project-preview {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 10px
}
.project-preview .article-cover-img-preview {
    width: 100px;
}

#post-list li {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    margin-bottom: 0;
}

#post-list a {
    color: #333;
    display: block;
    font: bold 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}
#post-list a:hover {
    color: var(--link-hover-color);
}

#post-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
    color: var(--font-lighter-color);
}
#post-list .dates:hover {
    color: var(--link-hover-color);
}

nav.main-nav {
    display: block;
    padding: 20px 20px 0;
    margin: 0 auto;
    text-align: right;
}

nav.main-nav li {
    display: inline;
    top: 8px;
    right: 6px;
    font-size: 15px;
    line-height: 1.35;
    list-style-type: none;
}
nav.main-nav li a {
    color: var(--font-header-color);
}
nav.main-nav li a:hover {
    color: var(--link-hover-color);
}
nav.main-nav li::after {
    content: " \00b7";
    font-weight: bold;
}
nav.main-nav ul > li:last-child::after {
    content: "";
}
nav.main-nav li.active {
    font-weight: 600;
}

#avatar {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 20px;
    color: var(--font-color);
}

.profile p {
    margin-bottom: 0.5em;
}

#social-information {
    margin-bottom: 20px;
    font-size: 13px;
}

#socials {
    display: inline-block;
    height: 18px;
    margin-left: 5px;
}

#socials a {
    width: 38px;
    overflow: hidden;
    float: left;
}

#socials i {
    font-size: 28px;
    margin-right: 5px;
}

#socials a:hover {
    color: var(--link-hover-color);
}